
   body{
       background-color: black;
   }
    h1, h2, p{ 
        color: white;
    }
    h1{
        text-align: center;
    }
    .meny{
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    
    .meny a{
        float: right;
        text-align: center;
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
    }
    a:hover{
        background-color: #FF0000;
    }
    .search-container{
        float: right;
    }
    .meny input[type=text]{
        padding:6px;
        border: none;
        margin-top: 8px;
        font-size: 17px;

    }

    .meny .search-container button{
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
        border: none;
        cursor: pointer;
        background-color: #FF0000;
    }
    .meny .icon{
        display: none;
    }

    footer{
        background-color: #FF0000;
        clear: both;
        position: fixed;
        height: 100px;
        width: 100%;
        bottom: 0%;
        
    }
    p{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #mail{
        display: block;
        text-decoration: none;
        color: white;
        margin-top: 15px;
    }

    @media screen and (max-width:600px){
        .meny a:not(:first-child){display: none;
        }
        .meny.icon{
            float: right;
            display: block;
            font-size: 17px;
        }
    }

    